<div class="card">
  <div class="card-header">
    <h2>Log in</h2>
  </div>
    <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <% f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"example@email.com" %>
    </div>

    <div class="field form-group">
      <% f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"password" %>
    </div>
    <br>
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me, type:"checkbox", class:"btn-check", id:"btn btn-dark", checkedautocomplete:"off" %>
      <%= f.label :remember_me, class:"btn btn-outline-secondary", for:"btn btn-dark"  %>
    <% end %>

    <div class="actions">
      <br>
      <%= f.submit "Log in", class:"btn btn-dark" %>
    </div>
    <% end %>
    
    </div>
</div>




<%= render "devise/shared/links"%>
